.category {
  @extend %clearfix;
  text-align: left;
  margin: 1em auto;
  ul {
    @include li-reset;
    li {
      margin: 0px 8px 10px 0px;
      display: block;
      float: left;
    }
  }
  a {
    // @include gradient(#FFF, #DDD, vertical);
    border: 1px solid #CCC;
    padding: .4em 1em;
    display: block;
    color: #333;
    background: #f3f3f3;
    @include box-sizing();
    border-radius:3px;
    transition: all .3s;
    &:hover,
    &:focus {
      color: #FFF;
      // @include gradient(darken($primaryColor, 0), darken($primaryColor, 15), vertical);
      background: $secondaryColor;
      border: 1px solid darken($secondaryColor, 5);    
      box-shadow: none;

    }
    &.active {
      color: #FFF;
      // @include gradient(darken($primaryColor, 0), darken($primaryColor, 15), vertical);
      border: 1px solid darken($primaryColor, 5);
      background: $primaryColor;
      &:hover,
      &:focus {
        background: $secondaryColor;
        border: 1px solid darken($secondaryColor, 5);
        box-shadow: none;
      }
    }
    span {
      font-size: .813em;
      &:before {
        content: "(";
        display: inline-block;
      }
      &:after {
        content: ")";
        display: inline-block;
      }
    }
  }
}