.topnav {
  background: $navColor;
  width: 100%;
  height: 36px;
  display: block;
  font-size: 0.875em;
  a {
    color: #fff;
  }
  @include screen('mobile') {
    display: none;
  }
}

.topnav__unitslink {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 22px;
  line-height: 36px;
  padding: 0 10px;
  display: block;
  @include screen('mobile') {
    left: 60px;
    border: 0;
    width: 60px;
  }
  &:hover,
  &:focus {
    background: $navColorHover;
    color: #fff;
    box-shadow: none;
  }
}
.topnav__units {
  display: none;
  width: 100%;
  height: auto;
  position: fixed;
  z-index: 9999;
  background: rgba(9, 40, 59, .95);
  top: 0px;
  left: 0px;
  padding: 30px;
  // min-height: auto;
  overflow-y: auto;
  font-size: 1.066em !important;
  box-sizing: border-box;
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: none;
    overflow: hidden;
  }
  .close {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 20px;
    right: 40px;
    z-index: 99999;
    opacity: .8;
    @include screen('mobile') {
      top: 20px;
      right: 15px;
    }
    img {
      width: 40px;
      height: 40px;
    }
  }
  .units__title {
    max-width: 1200px;
    display: block;
    color: #FFF;
    font-weight: normal;
    text-align: center;
    border-bottom: 1px solid #999;
    padding-bottom: 1em;
    margin: 0px auto 1em;
    font-size: 1.75em;
    @include screen('mobile') {
      font-size: 1.25em;
      text-align: left;
    }
  }
  >ul {
    max-width: 1200px;
    height: 85vh;
    margin: 0 auto;
    position: relative;
    z-index: 99999;
    text-align: left;
    padding: 0;
    float: none;
    overflow-y: auto;
    >li {
      display: block;
      padding: 0;
      margin: 0;
      color: $secondaryColor;
      font-weight: bold;
      h3{
        color: $thirdColor;
      }
      ul {
        width: 100%;
        height: auto;
        margin: 10px -15px 30px;
        position: relative;
        z-index: 99999;
        text-align: left;
        padding: 0;
        display: block;
        clear: both;
        overflow: hidden;
        list-style: none;
        @include screen('mobile') {
          margin: 10px 0;
        }
      }
      li {
        @include make-xs-column(12);
        @include make-sm-column(3);
        @include make-md-column(3);
        @include make-lg-column(3);
        @include gutter();
        font-size: 0.938em;
        font-weight: normal;
        @include screen('mobile') {
          @include gutter(0);
        }
        a {
          padding: .6em 0;
          display: block;
          color: #fff;
          width: 100%;
          @include box-sizing();
          border-bottom: 1px dotted rgba(255, 255, 255, .3);
          &:before {
            content: "";
            width: 13px;
            height: 14px;
            display: inline-block;
            background: url(../images/basic/icon_category_.png) no-repeat center center;
            margin-right: .5em;
          }
          &:hover,
          &:focus {
            color: $secondaryColor;
          }
          &:focus {
            box-shadow: 0 0px 0px 1px $secondaryColor inset;
          }
          &.active {
            color: $secondaryColor;
          }
        }
      }
    }
  }
}

//header
.header {
  position: relative;
  z-index: 99;
  @extend %clearfix;
  @include screen('mobile') {
    position: fixed;
    width: 100%;
    background: #fff;
  }
  // mobile btn for extend
  %mobileCtrlBtn {
    width: 60px !important;
    height: 60px !important;
    position: absolute;
    top: 0px;
    display: block;
    font-size: 0em;
    padding: 15px;
    margin: 0;
    min-width: auto;
    min-height: auto;
    background: transparent;
    border: none;
    box-shadow: none;
    z-index: 10;
    @include box-sizing;
    @include screen('mobile') {
      display: block !important;
    }
  }
  >.container {
    max-width: $container-max;
    overflow: visible;
    position: relative; // menu
    .sidebarCtrl {
      display: none;
      left: 0px;
      @extend %mobileCtrlBtn;
      span {
        position: absolute;
        background: #222;
        width: 48%;
        height: 2px;
        top: 35%;
        left: 50%;
        margin-left: -24%;
        border-radius: 2px;
        display: block;
        opacity: .6;
        &:nth-child(2) {
          top: 50%;
        }
        &:nth-child(3) {
          top: 65%;
        }
      }
    }
    // search
    .searchCtrl {
      display: none;
      right: 0px;
      font-size: 0em;
      @extend %mobileCtrlBtn;
      &:before {
        width: 40px;
        height: 40px;
        background: url(../images/basic/icon_search.png) no-repeat center center;
        background-size: 28px;
        opacity: .8;
        content: "";
        position: absolute;
        top: 10px;
        left: 10px;
        display: block;
      }
    }
  }
  h1.logo {
    float: left;
    // margin: 36px 0 30px 15px;
    margin: 30px 0 15px 15px;
    padding: 0;
    font-size: 1em;
    position: relative;
    font-weight: 500;
    z-index: 9;
    @include box-sizing;
    @include screen('mobile') {
      float: none;
      padding:10px 60px 4px 60px;
      margin: 0;
      width: 100%;
      text-align: center;
      height: 60px;
    }
    a {
      display: inline-block;
    }
    img {
      display: inline-block;
      height: 60px;
      vertical-align: middle;
      @include screen('mobile') {
        width: auto;
        height: auto;
        max-width: 80px;
        max-height: 54px;
        margin: 0px auto;
        transform: scale(.8);
      }
    }
    .logo__keelung{
      font-family: 'Noto Serif TC', serif;
      font-size: 1.75em;
      vertical-align: middle;
      color: $logoColor;
      font-weight: bold;
      letter-spacing: 2px;
      line-height: 120%;
      margin-right: -3px;
      padding-left: 15px;
      @include screen('mobile') {
        font-size: 1.25em;
      }
      &:before {
        content: "";
        width: 4px;
        height: 92%;
        display: block;
        position: absolute;
        left: 0;
        background: $navColor;
        @include screen('mobile') {
          display: none;
        }
      }
    }
    .logo__dep {
      font-size: 1.625em;
      vertical-align: middle;
      color: $navColor;
      letter-spacing: 1px;
      line-height: 100%;
      @include screen('mobile') {
        font-size: 1.25em;
      }
    }
    .logo__dep-en {
      font-size: .75em;
      color: #444;
      display: block;
      text-align: left;
      margin-left: 2px;
      padding-left: 15px;
      @include screen('mobile') {
        text-align: center;
        line-height: 140%;
      }
    }

  }
  // 導覽列
  .navigation {
    display: inline-block;
    box-sizing: border-box;
    position: absolute;
    right: 10px;
    // top: 36px;
    top: 26px;
    >ul {
      @include li-reset;
      font-size: .875em;
      >li {
        float: left;
        margin: 0 .4em;
        position: relative;
        a {
          display: block;
          line-height: 50px;
          padding: 0 .5em;
          text-decoration: none;
          @include aSetting_nocolor;
        }
        &.navfont{
          ul{
            @include li-reset;
            li{
              display: inline-block;
              line-height: 50px;
              margin: 0 3px;
              font-weight: bold;
              a{
                line-height: 26px;
                position: relative;
                text-align: center;
                margin-top: 12px;
                &.active{
                  color: #fff!important;
                  font-weight: bold;
                  background: $navColorHover;
                  &:hover,&:focus{
                    background: $navColor;
                    box-shadow: none;
                  }
                }
                &:hover,&:focus{

                }
              }
            }
          }
        }
        &.navsearch{
          z-index: 999;
          >a{
            text-indent: -9999px;
            width: 50px;
            height: 50px;
            background:#474747 url(../images/basic/icon_search.png) no-repeat center center;
            background-size: 22px;
            display: block;
            transition: all .5s;
            @include screen('mobile') {
              display: none;
            }
            &:hover,&:focus{
              background: $navColorHover url(../images/basic/icon_search.png) no-repeat center center;
              background-size: 22px;
              box-shadow: none;
              // border-radius: 50%;
            }
          }
        }
      }
    }
  }
}

//search
.search {
  width: 300px;
  padding: 1.5em;
  overflow: hidden;
  position: absolute;
  background: $primaryColor;
  display: none;
  right: 0;
  z-index: 100;
  @include box-sizing;
  label {
    font-size: 0em;
    height: 0;
    padding: 0;
    margin: 0;
  }
  .form_grp {
    margin-bottom: 0;
    width: 100%;
    position: relative;
    input {
      margin: 0;
      box-shadow: none;
      border-radius: .1em;
      border: 0;
      &[type="text"] {
        margin-top: -2.3em;
        &:focus {
          box-shadow: 0px 0px 0px 3px $aHover;
          outline: none;
          border: none;
        }
      }
    }
  }
  .btn_grp {
    margin-bottom: 0;
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: space-between;
    input,
    input[type="submit"] {
      margin: 0;
      border: 0;
      border-radius: .1em;
      text-shadow: none;
      width: 49%;
      background: #444;
      &:hover{
        color: #222;
        background: $thirdColor;
        border: 0!important;
      }
    }
  }
  .keywordHot {
    margin-top: 10px;
    clear: both;
    text-align: center;
    ul {
      display: inline-block;
      font-size: .9375em;
      line-height: 1.65em;
      margin: 0;
      padding: 0;
      &:before {
        display: inline-block;
        content: "";
        color: #999;
        float: left;
      }
      li {
        margin: 0 .6em 0 0;
        padding: 0;
        display: inline-block;
        a {
          color: #fff;
          line-height: 140%;
          &:hover{
            color:$thirdColor;
          }
        }
      }
      
    }
  }
  // m_search
  &.m_search {
    width: 100% !important;
    max-width: 100% !important;
    min-width: auto;
    padding: .8em .3em;
    display: block;
    height: auto;
    position: fixed;
    top: 60px;
    left: 0;
    z-index: 98;
    background: #333;
    label {
      font-size: 0em;
      line-height: 0;
    }
    .form_grp {
      width: 70%;
      height: auto;
      padding: 0 0 0 5% !important;
      margin-top: 0;
      text-align: right;
      float: left;
      height: 50px;
      position: relative;
      @include box-sizing();
      label {
        display: none;
      }
      input {
        width: 100%;
        margin: 0;
        padding: 0 42px 0 .5em;
        line-height: 42px;
        border-radius: 0px!important;
        &[type="submit"] {
          font-size: 0em;
          width: 42px !important;
          height: 42px;
          padding: 0;
          // max-width:none;
          // min-width:none;
          background: url(../images/basic/icon_search.png) no-repeat center center;
          background-size: 24px;
          border: none;
          display: inline-block;
          // margin-left: -50px !important;
          position: absolute;
          right: 5px;
          top: 0px;
          opacity: .8;
          // outline:1px solid red;
          &:hover,
          &:focus {
            opacity: 1;
          }
        }
      }
    }
    .btn_grp {
      padding: .1em 5% .1em 0;
      margin-bottom: 0;
      width: 26%;
      text-align: left;
      @include box-sizing();
      input {
        width: 100% !important;
        padding: 0 .5em !important;
        margin: 0;
        background: $primaryColor;
        line-height: 42px;
        border-radius: 0px!important;
      }
    }
    .keywordHot {
      padding-left: 5%;
      margin-top: 10px;
      @extend %clearfix;
      a {
        color: #FFF;
        &:hover,
        &:focus {
          color: $primaryColor;
        }
      }
    }
  }
}

// header fix
.header.fixed {
  position: fixed;
  width: 100%;
  right: 0;
  top: -85px;
  box-shadow: rgba(0, 0, 0, .5) 0 0 25px;
  background: rgba(0, 0, 0, .8);
  z-index: 999;
  @include screen('mobile') {
    background: #FFF;
  }
  h1.logo{
    margin: 20px 0 10px 15px;
  }
  .mainnav{
    top: 20px;
  }
  .menu {
    >ul {
      >li {
        >a {
          color: #FFF;
        }
      }
    }
  }
}