@charset "utf-8";
// 文章標題
h1.title, h2.title {
  line-height: 1.25em;
  margin: .4em 0;
}
.cp {
  ul,ol{
    margin-bottom: .5em;
  }
  blockquote{
    margin-left: 0;
    margin-right: 0;
  }

  .pic {
    float: left;
    margin: 0px 1em 1em 0;
    width: auto;
    width: 45%;
    max-width: 400px;
    background: #F1F1F1;
    overflow: hidden;
    padding: .5em .5em .2em;
    img {
      float: none;
      width: 100%;
      margin: 0;
      display:block;
    }
    span {
      text-align: center;
      display: block;
      font-size: .938em;
    }
    @include screen('mobile') {
      float: none;
      max-width: 100%;
      width: auto;
      margin: 0px auto;
      display: block;
      margin-bottom: .5em;
    }
  }
  table {
    background: #FFF;
    margin-top: .5em;
    border-top: 3px solid #4F8100;
  }
  img {
    &.float_left {
      float: left;
      margin: 0px 1em 1em 0;
      width: auto;
      max-width: 55%;
      @include screen('mobile') {
        float: none;
        max-width: 100%;
        margin: 0px auto;
      }
    }
    &.float_right {
      float: right;
      margin: 0px 0 1em 1em;
      width: auto;
      max-width: 55%;
      @include screen('mobile') {
        float: none;
        max-width: 100%;
        margin: 0px auto;
      }
    }
  }
  a {
    @include aSetting;
    text-decoration: underline;
    &:hover{
      text-decoration: none;
    }
  }
  .chief_left {
    float: left;
    margin: 0px 2% 1em 0;
    width: auto;
    width: 28%;
    background: #F1F1F1;
    overflow: hidden;
    padding: .5em .5em .2em;
    img {
      float: none;
      width: 100%;
      margin: 0;
      display:block;
    }
    span {
      text-align: center;
      display: block;
      font-size: .938em;
    }
    @include screen('mobile') {
      float: none;
      max-width: 100%;
      width: auto;
      margin: 0px auto;
      display: block;
      margin-bottom: .5em;
    }
  }
  .chief_right{
    overflow: hidden;
    width: 70%;
    @include screen('mobile') {
      width: 100%;
    }
    .chief_title{
      margin-top: 0;
      padding: 20px;
      margin: 0 0 15px;
      background: #f1f1f1 url(../images/bg.jpg) no-repeat  100px -50px;
      border-left:4px solid $primaryColor;
      @include screen('mobile') {
        padding: 10px 20px;
      }
    }
  }
}
// 文章標籤
div.tag {
  @extend %clearfix;
  padding: 0 0 0 1.5em;
  margin-bottom: 1em;
  position:relative;
  &:before {
    display: block;
    position:absolute;
    left: .1em;
    content: "";
    width: 1em;
    height: 1em;
    top: .4em;
    background: url(../images/basic/icon_tag.png) no-repeat center center;
    background-size: 1em;
  }
  ul {
    display: inline-block;
    @include li-reset;
    li {
      display: inline-block;
      margin: 0 .2em .2em 0;
      a {
        display: block;
        font-size: .813em;
        @include aSetting_nocolor;
        border-radius: 4px;
        border: 1px solid #DDD;
        padding: .2em .5em;
        &:hover,&:focus {
          border:1px solid $aHover;
        }
      }
    }
  }
}

.lightbox_slider,.file_download,.web_link{
  // width: 100%;
  margin: 0 auto 1.5em;
  h3 {
    font-size: 1.5em;
    padding: 10px 0;
    margin: 0 0 15px;
    border-bottom: 3px solid $primaryColor;
  }
}
//  slick燈箱
.lightbox_slider {
  clear: both;
  .cp_slider {
    @include gutter(0);
  }
  .img-container {
    margin: 0px 15px;
    @include aspect-ratio(4, 3);
    overflow: hidden;
    img {
      object-fit: contain;
    }
  }
  .caption {
    padding: .5em !important;
    position: absolute;
    background: rgba(0, 0, 0, .75) !important;
    color: #FFF;
    bottom: -2em !important;
    left: 0;
    font-size: .938em !important;
    height: 2em !important;
    line-height: 1 !important;
    width: 100%;
    @include text-overflow;
    transition: .3s ease-out;
  }
  // dots
  .slick-dots {
    bottom: -30px !important;
    margin-bottom: 0;
    @include screen('mobile') {
      bottom: -40px !important;
      padding: 0;
    }
    li {
      width: 10px;
      height: 10px;
      margin: 0 10px;
    }
  }
  //Arrows
  .slick-prev {
    // left: -1 * $grid-gutter-width/2;
    left: -30px;
  }
  .slick-next {
    // right: -1 * $grid-gutter-width/2;
    right: -30px;
  }
  a {
    color: #555;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    &:hover,
    &:focus {
      .caption {
        bottom: 0 !important;
      }
    }
  }
}


// 檔案下載
.file_download {
  @include clearfix();
  ul {
    counter-reset: counter;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  li {
    position: relative;
    margin-bottom: 10px;
    padding-left: 1.5em;
    border-bottom: 1px solid #EEE;
    clear: both;
    overflow: hidden;
    padding-bottom: .5em;
    &:before {
      position: absolute;
      top: .6em;
      left: .5em;
      text-align: right;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background: #999;
      content: "";
    }
    span {
      font-size: .9375em;
      margin-top: 8px;
      margin-right: 1em;
      color: #888;
      @include screen('mobile') {
        display: block;
        margin-right: 0;
        margin-bottom: .2em;
      }
      a{
        margin-right: .5em;
      }
    }
  }
}
// 外部連結
.web_link {
  @include clearfix();
  ol,
  ul {
    counter-reset: counter;
    list-style-type: none;
    padding: 0;
    margin: 0;
    @media screen and (max-width: 767px) {
      margin-left: 0;
    }
  }
  li {
    position: relative;
    border-bottom: 1px solid #EEE;
    a {
      padding: .7em 0px .7em 35px;
      position: relative;
      height: auto;
      line-height: 1.45em;
      display: block;
      @include aSetting_nocolor;
      &:before {
        position: absolute; 
        top: 11px;
        left: 0px;
        text-align: right;
        width: 30px;
        counter-increment: counter;
        content: counters(counter, ".") " . ";
      }
    }
  }
}
.publish_info {
  font-size: 0.875em;
  margin: 0 0 2em 0;
  // border-left: solid 5px $primaryColor;
  padding: 0.8em 1.5em;
  background: #444;
  color: #fff;
  @extend %clearfix;
  @include box-sizing;
  @include screen('mobile') {
    font-size: 0.938em;
  }
  ul{
    @include li-reset;
    display: flex;
    justify-content: space-around;
    @include screen('mobile') {
      flex-wrap:wrap;
    }
    li{
      position: relative;
      padding-left: 1em;
      &:before{
        content: "";
        width: 2px;
        height: 10px;
        display: inline-block;
        position: absolute;
        transform: skew(-15deg);
        background: $thirdColor;
        left: 0;
        top: 7px;
      }
    }
  }
}