.adSearch{
  &.is-b{
    .form_inline{
      display: flex;
      justify-content: space-between;
      select{
        width: 49%;
      }
    }
  }
}
.lp {
  padding: 1em 0 0 0; 
  line-height: 1.6em;
  .list__block{
    a{
      display: block;
      position:relative;
      height: 100%;
    }
  }
  .list__pic{
    @include aspect-ratio(4, 3);
    display: block;
    img{
      transform: scale(1);
      transition: all .5s;
    }
  }
  .list__text{
    color: #1a1a1a;
    a{
      display: block;
      position: relative;
      color: #1a1a1a;
      &:hover {
        color: $primaryColor;
      }
    }
  }
  .list__title{
    color: #1a1a1a;
    display: block;
    font-weight: normal;
    a{
      display: block;
      position: relative;
      color: #1a1a1a;
      &:hover {
        color: $primaryColor;
      }
    }
  }
  time {
    display: inline-block;
    color: #666;
    font-size: .875em;
  }
  .list__dep {
    font-weight: bold;
    color: $primaryColor;
    a{
      display: block;
      color: $primaryColor;
      padding: 0 6px;
      &:hover {
        color: $secondaryColor;
      }
    }
  }
}
.lp .list {
  border-top: 4px solid $primaryColor;
  &>ul, ol {
    @include li-reset;
    &>li {
      position: relative; 
      
      padding: 1em .4em 1em 2em;
      border-bottom: 1px solid #DDD;
      .num {
        width: 1.5em;
        text-align: left;
        position: absolute;
        top: 1em;
        left: .4em;
        &:after {
          content: ".";
          display: inline-block;
        }
      }
      .list__text{
        margin-bottom: .5em;
      }
      .list__dep {
        display: inline-block;
        margin-left: .5em;
      }

    }
  }
}
.lp .list__table {
  th{
    border-left: 0;
    border-right: 0;
    border-bottom: 3px solid $primaryColor;
    line-height: 200%;
  }
  td {
    border-left: 0;
    border-right: 0;
    &.date {
      text-align: center; 
      color: #666;
      @include screen('mobile') {
        text-align: left;
      }
    }
    &.center{
      text-align: center; 
    }
    &.num {
      text-align: center;
      color: #666;
      @include screen('mobile') {
        text-align: left;
      }
    }
    a{
      &.doc,&.docx,&.odt,&.xls,&.csv,&.ods,&.xlsx,&.ppt,&.pptx,&.odp,&.zip,&.txt,&.mov,&.mp3,&.jpg,&.wmv,&.mp4,&.pdf{
        width: 26px;
        height: 28px;
        display: inline-block;
        text-indent: -99px;
        overflow: hidden;
        vertical-align: middle;
      }
      
    }
    a.doc{
      background: url(../images/basic/icon_doc.png) no-repeat center center;
      background-size: contain;
    }
    a.docx{
      background: url(../images/basic/icon_docx.png) no-repeat center center;
      background-size: contain;
    }
    a.odt{
      background: url(../images/basic/icon_odt.png) no-repeat center center;
      background-size: contain;
    }
    a.xls{
      background: url(../images/basic/icon_xls.png) no-repeat center center;
      background-size: contain;
    }
    a.csv{
      background: url(../images/basic/icon_csv.png) no-repeat center center;
      background-size: contain;
    }
    a.ods{
      background: url(../images/basic/icon_ods.png) no-repeat center center;
      background-size: contain;
    }

    a.xlsx{
      background: url(../images/basic/icon_xlsx.png) no-repeat center center;
      background-size: contain;
    }
    a.ppt{
      background: url(../images/basic/icon_ppt.png) no-repeat center center;
      background-size: contain;
    }
    a.pptx{
      background: url(../images/basic/icon_pptx.png) no-repeat center center;
      background-size: contain;
    }
    a.odp{
      background: url(../images/basic/icon_odp.png) no-repeat center center;
      background-size: contain;
    }
    a.zip{
      background: url(../images/basic/icon_zip.png) no-repeat center center;
      background-size: contain;
    }
    a.txt{
      background: url(../images/basic/icon_txt.png) no-repeat center center;
      background-size: contain;
    }
    a.mov{
      background: url(../images/basic/icon_mov.png) no-repeat center center;
      background-size: contain;
    }
    a.mp3{
      background: url(../images/basic/icon_mp3.png) no-repeat center center;
      background-size: contain;
    }
    a.jpg{
      background: url(../images/basic/icon_jpg.png) no-repeat center center;
      background-size: contain;
    }
    a.wmv{
      background: url(../images/basic/icon_wmv.png) no-repeat center center;
      background-size: contain;
    }
    a.mp4{
      background: url(../images/basic/icon_mp4.png) no-repeat center center;
      background-size: contain;
    }
    a.pdf{
      background: url(../images/basic/icon_pdf.png) no-repeat center center;
      background-size: contain;
    }
  }
}
.lp .list__album.is-a {
  margin: 1em auto;
  ul {
    @include li-reset;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    li {
      width: 31%;
      margin-bottom: 2em;
      align-items: stretch;
      @include screen('mobile') {
        width: 48%;
      }
      @media screen and (max-width:480px){
        width: 100%;
      }
      &:last-child:nth-child(3n - 1) {
        margin-right: calc(31% + 7% / 2);
        @include screen('mobile') {
          margin-right: 0;
        }
      }
      &:last-child:nth-child(3n - 2) {
        margin-right: calc(62% + 14% / 2);
        @include screen('mobile') {
          margin-right: 0;
        }
      }
      .list__block {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        box-shadow: none;
        a{
          .list__pic {
            margin-bottom: .5em;   
          }
          .list__text{
            padding-left: 14px;
            margin-top: 10px;
            position: relative;
            display: block;
            @include screen('mobile') {
              padding-left: 0;
            }
            time{
              color: #666;
            }
            &:after{
              content: "";
              width: 4px;
              height: 100%;
              display: block;
              background: $primaryColor;
              position: absolute;
              left: 0;
              top: 0;
              @include screen('mobile') {
                display: none;
              }
            }
          } 
          &:hover,&:focus{
            &:before{
              content:"";
              position:absolute;
              left: -10px;
              top: -10px;
              right: -10px;
              bottom: -10px;
              z-index: 1;
              box-shadow: 0px 0px 5px 0 rgba(0,0,0,.5);
            }
            .list__title{
              color: $primaryColor;
            }
          }
          &:hover{
            color: $primaryColor;
            .list__pic img{
              transform: scale(1.1);
            }
          }
          &:focus{
            box-shadow: none;
          }
        }
      }
    }
  }
}
.lp .list__album.is-b{
  border-top: 4px solid $primaryColor;
  ul{
    @include li-reset;
    display: block;
    li{
      padding: 1em 0;
      border-bottom: 1px solid #DDD;
      position: relative; 
      width: 100%;
      .list__block{
        display: flex;
        @include screen('mobile') {
          display: block;
        }
      }
      .list__pic{
        width: 200px;
        margin-right: 20px;
        align-self: flex-start;
        flex-shrink: 0;
        @include screen('mobile') {
          width: 100%;
          margin-right: 0;
          margin-bottom: .5em;
        }
      }
      .list__text{
        display: block;
        @include screen('mobile') {
          margin-top: 10px;
        }
      }
      .list__title{
        font-weight: bold;
        a{
          color: $secondaryColor;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          @include screen('mobile') {
            margin-top: 10px;
            display: block;
          }
          &:hover,&:focus{
            color: $primaryColor;
          }
        }
      }
      p{
        margin-top: 0;
        a{
          display: block;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
        }
      }
      .list__dep{
        display: inline-block;
      }
    }
  }
}
